/* COLOUR PALETTE  #e5c2c0 #8fd5a6 #329f5b #0c8346 #0d5d56 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	background-color: #3A9C5B;
	color: white;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

h1 {
	background-color: #0a3a56;
	margin-top: 0;
	padding: 15px 15px;
	text-shadow: 1px 1px 1px darkgreen;
}

button {
	border: 1px solid transparent;
	color: white;
	font-family: "Open Sans", sans-serif;
	text-shadow: 1px 1px 1px darkgreen;
}

div#content, nav#navBar {
	display: flex;
	min-height: 90vh;
}

nav#navBar {
	width: 25%;
	margin-left: 15px;
}

#navBar > ul {
	width: 100%;
}

ul {
	background-color: #0d5d56;
	border-radius: 0% 3%;
	display: inline-flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 5px;
	width: 50%;
}

li.hideForm {
	padding: 0 !important;
}

li.projContainer, li.taskContainer, li#newTaskContainer, li#addContainer {
	background-image: linear-gradient(to bottom right, #0c8346, #0d5d56);
	border-radius: 0 15px;
	display: inline-flex;
	flex-direction: column;
	margin-bottom: 5px;
	padding: 5px 5px 10px 5px;
	text-shadow: 1px 1px 1px darkgreen;
}

li#addContainer.hideForm:hover, li.projContainer:hover, li.projContainer.selected, li#newTaskContainer.hideForm:hover {
	background-image: linear-gradient(to bottom right, #66ee55, #0d5d56);
}

li.projContainer h3 {
	cursor: pointer;
}

input {
	background-color: transparent;
	border-color: white;
	border-width: 1px;
	border-style: none none solid none;
	color: white;
}

li.projContainer {
	flex-direction: row !important;
}

li.projContainer > h3 {
	display: inline;
}

.delProjBtn {
	display: inline;
}

.hidden {
	display: none;
}

/* Tasks list items */

h2 {
	margin: 0 auto;
}

li#listHeader, #projHeader {
	background-image: none;
	letter-spacing: 3px;
	list-style-type: none;
	margin: 0 auto 5px;
	padding: 0;
	text-shadow: 1px 1px 1px #222222;
}

p {
	margin: 0 0 0 32px;
}

#taskHeader {
	border-bottom: 2px solid #329f5b;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	padding-bottom: 2px;
}

div#taskHeader > input {
	margin: 5px 5px 0 7px;
}

div#taskHeader > label, li.projContainer > h3 {
	font-weight: bold;
	font-size: 11pt;
	margin: 3px 0 3px 7px;
	width: 87%;
}

div#taskHeader > label:hover, li.projContainer > h3:hover {
	text-decoration: underline;
}

span#dueDate {
	font-weight: bold;
	font-size: 8pt;
	line-height: 20pt;
	margin-right: 10px;
	text-align: right;
	width: 100px;
}

button#moreButton {
	font-size: 13pt;
	margin-bottom: 3px;
}

li.taskContainer.medium {
	background-image: linear-gradient(to bottom right, #22bb55, #0d5d56);
}

li.taskContainer.medium > div#taskHeader {
	border-color: #55cc77;
}

li.taskContainer.high {
	background-image: linear-gradient(to bottom right, #66ee55, #0d5d56);
}

li.high > div#taskHeader {
	border-color: #88ff88;
}

.completedTask {
	background-image: linear-gradient(to bottom right, #555555, #0d5d56) !important;
	color: #aaa;
	padding-bottom: 5px;
	text-decoration: line-through;
	text-shadow: 1px 1px 1px #333333;
}

.completedTask > div#taskHeader {
	border: none;
	margin-bottom: 0;
}

.completedTask > p {
	display: none;
}

.completedTask #dueDate, .completedTask #editButton, .completedTask #moreButton, .completedTask #delTaskButton {
	text-decoration-line: none !important;
}

#delTaskButton, #editButton, #moreButton, button.delProjBtn, button.delChecklistItem, button.editDeleteItem {
	background-color: transparent;
	border-style: none;
	color: white;
	cursor: pointer;
	font-size: 11pt;
	font-weight: bold;
	width: 5%;
}

.checklist p {
	display: inline;
	margin-left: 0;
}

.completedCheck p {
	text-decoration: line-through;
}

/* Add task section */

#formContainer:not(.hidden) {
	display: flex;
	flex-direction: column;
}

label.newTaskElements, label.editElements, label.newProjElements:not(.hidden) {
	display: flex;
	font-size: 10pt;
	font-weight: 400;
	margin: 3px;
	text-transform: capitalize;
}

input.newTaskElements, .editElements input, #inputProjTitle {
	flex-grow: 1;
	margin-left: 15px;
	margin-right: 10px;
}

label.newTaskPriorities, label.editPrLevel {
	display: inline;
	font-size: 8px;
	margin-left: 70px;
	width: 90px;
}

input.newTaskPriorities, input.editPrLevel {
	margin-left: 5px;
}

#inputduedate, #editDate input {
	flex-grow: 0;
	width: 150px;
}

button.addItem, #editAddItem {
	background-color: #22bb33;
	border-radius: 0 10px;
	-webkit-box-shadow: 0px 0px 2px 0px #0d5d56;
	-moz-box-shadow: 0px 0px 2px 0px #0d5d56;
	-o-box-shadow: 0px 0px 2px 0px #0d5d56;
	box-shadow: 0px 0px 2px 0px #0d5d56;
	margin: 7px auto;
}

#btnContainer:not(.hidden), #editBtnContainer, #projBtnContainer:not(.hidden) {
	display: flex;
	justify-content: center;
}

#addBtn, #editUpdate, #confirmAddProj {
	background-color: #22bb33;
	border-radius: 0 0 0 10px;
	width: 50%;
}

#cancelBtn, #editBack, #cancelAddProj {
	background-color: #0c8346;
	border-radius: 0 10px 0 0;
	width: 20%;
}

#addBtn, #cancelBtn, #editUpdate, #editBack, #confirmAddProj, #cancelAddProj {
	-webkit-box-shadow: 0px 0px 2px 0px #0d5d56;
	-moz-box-shadow: 0px 0px 2px 0px #0d5d56;
	-o-box-shadow: 0px 0px 2px 0px #0d5d56;
	box-shadow: 0px 0px 2px 0px #0d5d56;
	height: 25px;
}

#addBtn:hover, #cancelBtn:hover, .addItem:hover, #editAddItem:hover, #editBack:hover, #editUpdate:hover, #confirmAddProj:hover, #cancelAddProj:hover {
	border: 1px solid #88ff88;
}

button#openFormBtn, button#openProjForm {
	background-color: transparent;
	border-style: none;
	color: white;
	font-size: 20pt;
	font-weight: bold;
	text-shadow: 1px 1px 1px #333333;
}

#formChecklistContainer, #editClContainer {
	border: none;
	margin-bottom: 20px;
}

#formChecklistContainer	li > input, #editClContainer li > input {
	width: 90%;
}

button.delChecklistItem {
	font-weight: regular !important;
}

label.newProjElements:not(.hidden) {
	margin-bottom: 10px;
}
